<template>
  <header>
    <img class="header-logo" src="~/assets/img/octocat.svg" width="48" height="48" alt="logo do GitHub em branco, um círculo com a silhueta de um gato vazada" />
    <h1 class="header-title">Pronto para contribuir <strong>hoje?</strong></h1>
  </header>
</template>

<script> 
  export default{
    data(){
      return{}
    } 
  }
</script>

<style lang="postcss" scoped>
  header{
    h1{ color: $blue; font-size: 2.2rem; margin: $space 0; max-width: 320px;}
    strong{ background-color: $blueDark; color: $yellow; line-height: 1.5em; padding: $spaceSS;
      &:after{ position: absolute; content: " /*amanhã*/"; color: $black; font-style: italic; text-indent: 10px;}
    }
  }
</style>
