<template>
  <div class="container">
    <section class="divisor divisor--header">
      <Header />
    </section>
    <section class="divisor">
      <!-- -->
    </section>
  </div>
</template>

<script>
import Header from '~/components/Header.vue'

export default {
  components: {
    Header
  }
}
</script>

<style lang="postcss">
  *, *:before, *:after{ box-sizing: border-box;}
  body{ background-color: $grayDarker; font-family: "Anonymous Pro", "Courier New", Courier, monospace; font-size: 16px; margin: 0; padding: 0;}
  .container{ display: flex; flex-direction: column;}
  .divisor{ display: block; padding: $spaceX; height: 50vh;
    &--header{ position: relative; background-color: $grayDark; background-image: url("~/assets/img/hero-header.png"); background-repeat: no-repeat; background-size: auto 100%; background-blend-mode: multiply; background-position: right center;
      &:before{ position: absolute; left: 0; right:0; bottom: 0; height: 8vh; background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,$grayDarker 100%); content: "";}
    }
  }
</style>
